@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HankenGrotesk-Bold";
    src: url("/fonts/static/HankenGrotesk-Bold.ttf");
  }

@font-face {
font-family: "HankenGrotesk-ExtraBold";
src: url("/fonts/static/HankenGrotesk-ExtraBold.ttf");
}

@font-face {
    font-family: "HankenGrotesk-Medium";
    src: url("/fonts/static/HankenGrotesk-Medium.ttf");
  }